:root {
  --clr-accent: #3670C7;
  --clr-neutral: #f4f4f4;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-accent);
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.title {
  font-weight: 400;
  font-size: 2.5rem;  
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 20rem;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 100em;
  border: 0;
  outline: none;  /* there is an outline by default in google chrome. This is to remove it */ 
}

.form-input::placeholder{
  font-family: 'Open Sans', sans-serif;
} /* not actually necessary*/

.form-input:focus::placeholder {
  opacity: 0.3;
}

.form-button {
  color: var(--clr-neutral);
  margin-left: 0.3em;
  border-radius: 100em;
  border: 0;
  padding: 1em 3em;
  outline: none; /* there is an outline by default in google chrome. This is to remove it */ 
  background: linear-gradient(to right, #31c2cd, #1b4fc9);
}

.form-button:hover {
  background: linear-gradient(to left, #31c2cd, #1b4fc9);
}

.form-button:first-of-type {
  margin-right: 6em;
}